yle>
        *, body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-color: #fff;
            min-height: 100vh;
            font-size: 1.3rem;
            position: relative;
        }

        h1, h2, h3, p, a {
            font-family: 'Open Sans', sans-serif;
            font-family: 'Source Sans Pro', sans-serif;
        }

        main {
            padding-top: 2.5rem;
            box-sizing: border-box;
            margin-inline: auto;
            width: min(90%, 26.4375rem);
            box-sizing: border-box;
            background-color: #fff;
            border-radius: .2rem;
        }

        img.logo {
            width: 9rem;
            display: block;
            margin-inline: auto;
        }

        h1, p {
            text-align: center;
            margin: .5rem;
            color: #1D1C1D;
        }

        h1 {
            font-size: 2.5rem;
        }

        label {
            color: #040f8b;
        }

        .input,a.google, a.apple {
            width: 100%;
            padding: .7rem;
            margin: .5rem 0;
            display: block;
            border-radius: .3rem;
            box-sizing: border-box;
        }

        .input-supmit {
            width: 100%;
            margin-inline: auto;
        }

        #name-error, #email-error, #number-error, #password-error, #passwordPattern-error {
            color: crimson;
            font-family: Arial;
            font-weight: 600;
            font-size: .7rem;
            text-align: right;
            /* display: none; */
        }

        #passwordPattern-error {
            text-align: left;
        }

        .popup-wrapper {
            background-color: rgba(0,0,0,0.7);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            z-index: 9999999;
        }

        .popup {
            font-family: arial;
            text-align: center;
            width: 100%;
            max-width: 300px;
            margin: 10% auto;
            padding: 20px;
            background-color: #fff;
            position: relative;
        }

        .popup a {
            background-color: #5F68D1;
            color: #fff;
            text-decoration: none;
            padding: 6px 10px;
            margin-top: 1rem;
            display: block;
        }

        a.back {
            background-color: crimson;
        }

        .popup-close {
            position: absolute;
            top: 5px;
            right: 8px;
            cursor: pointer;
        }

        a.forget {
            color: #5F68D1;
            text-decoration: none;
            width: fit-content;
        }

        a.forget:hover {
            text-decoration: underline;
            color: #040f8b;
        }

        .google img {
            width: 1rem;
        }

        a.google, a.apple {
            display: block;
            border: 2px #000 solid;
            text-align: center;
            text-decoration: none;
        }

        a.google {
            border: #4285F4 2px solid;
            color: #4285F4;
        }

        a.google img, a.apple i {
            margin-right: .5rem;
        }
        
        .sign-supmit, .input-supmit {
            background-color: #4A154B;
            color: #fff;
            font-weight: 600;
        }

        .sign-supmit:hover, .input-supmit:hover {
            background-color: #5C2C5D;
        }

        .magic-code {
            background-color: #E9E9E9;
            padding: .5rem;
            border-radius: .5rem;
            margin: 1.5rem 0;
            display: flex;
        }

        .email-input {
            border: #c0c0c0 2px solid;
        }

        .logins img {
            width: 3rem;
            height: 3rem;
            border: #c0c0c0 2px solid;
            padding: .5rem;
            border-radius: .4rem;
            box-sizing: border-box;
            display: inline-block;
        }

        .logins {
            padding: 1rem;
            border: #c0c0c0 2px solid;
            border-radius: .4rem;
            display: grid;
        }

        .techrity, .frontend-mentor {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            margin-bottom: 1.5rem;
        }

        .techrity h3, .frontend-mentor h3 {
            font-size: 1.1rem;
        }

        .techrity p, .frontend-mentor p {
            font-size: .9rem;
        }
        
        .group-info {
            display: inline-block;
        }

        .group-info h3, .group-info p {
            margin: 0;
        }

        h3.signed-in {
            text-align: center;
            font-size: 1rem;
            margin-bottom: 1rem;
        }

        .logins button {
            width: 5rem;
            height: 2rem;
            background-color: #fff;
            border: #c0c0c0 2px solid;
            border-radius: .4rem;
        }

        .magic-code a {
            color: #0B4C8C;
            text-decoration: none;
            font-weight: 600;
        }

        .magic-code p {
            font-size: 1rem;
            display: inline-block;

        }

        .magic-code img {
            width: 2rem;
            height: 2rem;
            display: inline-block;
        }

        footer {
            margin: 2rem 0;
            display: grid;
            grid-auto-flow: column;
            justify-content: center;
        }

        footer a {
            margin: .5rem;
            font-size: 1rem;
            text-decoration: none;
            text-align: center;
        }

        footer img {
            width: .8rem;
            display: inline;
        } 

        img.globe {
            width: 1rem;
            height: 1rem;
            margin-top: .8rem;
            margin-left: 1rem;
        }

        /* img.arrow {
            margin-top: .7rem;
        } */

        .change {
            display: flex;
            cursor: pointer;
        }

        .ruler p {
            padding: 1rem;
            background-color: #fff;
            width: 2rem;
            margin-inline: auto;
            position: relative;
            z-index: 2;
            text-align: center;
        }

        hr {
           position: relative;
           top: 2.5rem;
           z-index: 1;
        }

        a.google {
            margin: 2.5rem 0 1rem 0;
        }

        a.social-media {
            font-weight: 600;
        }

        a.social-media:hover {
            box-shadow: 1px 1px 3px rgb(188, 188, 188);
        }

        .countries {
            display: flex;
        }

        .region {
            background-color: rgba(0,0,0,0.7);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            position: absolute;
            z-index: 99999999;
        }

        .change-region {
            background-color: #fff;
            width: min(90%, 30rem);
            border-radius: 1rem;
            margin-inline: auto;
            padding: 1rem;
            margin-top: 5rem;
        }

        h3 {
            margin: 0;
            margin-top: 1rem;
        }

        .change-region p, .change-region a {
            text-align: left;
            font-size: 1rem;
            color: #1E1D1E;
        }

        .change-region a {
            display: block;
            text-decoration: none;
            margin-top: .5rem;
        }

        .change-region a:hover {
            color: #2A639A;
            text-decoration: underline;
        }

        .americans, .europe {
            margin-right: 1rem;
        }